@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css or styles.css */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* 你可以在这里定义全局样式，使用 Playfair Display 字体 */
body {
  font-family: "Playfair Display", serif;
}

/* 隐藏滚动条，但仍然允许滚动 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
